[package]
name = "fp-bindgen-support"
version = "0.1.0"
edition = "2018"

[dependencies]
fp-bindgen-macros = { path = "../macros" }
http = { version = "0.2", optional = true }
once_cell = "1"
rmp-serde = "1.0.0"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
wasmer = { version = "2.1", optional = true }
thiserror = { version = "1.0.26", optional = true }
serde_path_to_error = "0.1"

[features]
default = []
async = []
host = ["wasmer"]
guest = []
